@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@mixin margin-pad($margen,$pad) {
    @if($margen=="cero"){
        padding: $pad;    
    } @else if ($pad=="cero") {
        margin: $margen; 
    } @else {
        margin: $margen;
        padding: $pad;
    }
}

* {
    @include margin-pad(0,0);
 
}

a:hover {
    color:$color_fondo-hover;    
}

p {
    text-align: justify;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: map-get($map: $scrollbar_colors , $key: track); 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: map-get($map: $scrollbar_colors , $key: thumb); 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: map-get($map: $scrollbar_colors , $key: thumb-hover);
}

/* Body */
    body{
        margin: 0;
        font-family: 'Fredoka', sans-serif;
        min-width: map-get($map: $anchos, $key: media);
        overflow-x: hidden;        
    }   

    main {
        grid-area: main;
    }

    main.row {
        @extend .bs_gutter-x-0;
    }

    section {
        max-width: map-get($map: $anchos, $key: ancho_full);
    } 

    img {
        width: map-get($map: $anchos, $key: ancho_full);
    }

    .homeGrid {
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }

    .pad-2 {
        @include margin-pad("cero",2rem);
    }

    .pad-bottom-2 {
        padding-bottom: 2rem;
    }

    .pad-right-1p5 {
        padding-right: 1.5rem;
    }

    .bs_gutter-x-0 {
        --bs-gutter-x: 0;
    }

    .boton {
        background: $color_fondo-boton;
        margin-top: 0.5rem;
        color:$color_texto-a!important;
        text-decoration: none;
    }

    .shadow-bottom {
        box-shadow: 0px 15px 10px -15px;
    }

    .aside-flex {
        display: flex;
        flex-direction: column;
        background-color: $color_fondo;  
        z-index: 1;
        overflow: hidden; 
        box-shadow: none;
        @include margin-pad("cero",0);

        li {
            list-style: none;
        }
        &.collapse{
            display: flex;
        }
    }

    #filtroProductos .navbar-toggler {
        display: none;
    }
    

/* Header */
    header{

        .logo {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            grid-area: logo;
            
            .logo-img {
                max-width: map-get($map: $anchos, $key: logo-img);
    
                img {
                    border: 0;
                }
            }  

            .logo-header h1{
                margin-bottom: 0;
            } 
        }      

        .descripcion {
            display: block;
            margin-bottom:0.5rem;
        }

        .principal-nav{
            grid-area: principal-nav;
            @include margin-pad("cero",0);
            button {
                &.collapsed .menu_cel:before {
                    content: "\f0c9" !important;
                }
                .menu_cel:before {
                    content: "\f00d";
                }
            } 
    
            & >.container-fluid {
                @include margin-pad("cero",0);
            }
    
            .navbar-nav {
                .nav-link {
                    color: black;
                    padding-left: 1rem;
                    padding-right: 1rem;
    
                    &:hover {
                        background-color: $color_fondo-hover;
                        color:$color_texto-a;
                    }
    
                    &.active{
                        background-color: $color_texto-hover_active;
                        color:$color_texto-a;
                    }
                }
    
                
    
                li a {
                    &:link {
                        color: black;
                    }
                    &:active,&:focus {
                        background-color: $color_texto-hover_active;
                        color:$color_texto-a;
                    }
                }
            }   
        }

        .menu_tienda {
            position: fixed;
            top: 20%;
            right: 0;
            background: $color_texto-hover_active;
            padding: 1rem;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            transition: all 0.5s;
            z-index: 999;
            box-shadow: -11px 1px 17px 0px $color_fondo-shadow_darklight;
            #menu_tienda {
                display: flex;
                gap: 1rem;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-end;
                transition: all 0.5s;
                .input-group-text {
                    background-color:$color_texto-hover_active;
                    padding: 0;
                    transition: all 0.5s;
                    border: 0;
                    #buscaTienda-spanIcon {
                        width: 2rem;
                        height: 2rem;
                        background: $color_fondo;
                        color: $color_texto-hover_active;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        &:hover{
                            color:$color_fondo-hover;
                        }
                    }
                    .search-click {
                        position: relative;
                        overflow: hidden;
                        border: 0px;
                        outline: none;
                        width: 0px;
                        height: 0px;
                        padding: 0rem;
                        transition: all 0.5s;
                        border-top-right-radius: 0px;
                        border-bottom-right-radius: 0px;

                    }
                    #carroTienda-spanIcon {
                        cursor: pointer;
                        color: $color_texto-a;
                        &:hover {
                            color:$color_texto-a_visited;
                        }
                    }
                }
            }
            #buscaTienda-resultado{
                display: none;
                width: 300px;
                transition: all 0.5s;
                ul {
                    list-style-type: none;
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    background: white;
                    z-index: 999;
                    box-shadow: 9px 16px 16px 5px rgba(0,0,0,0.14);
                    padding: 0;
                    li {
                        display: inline-flex;
                        justify-content: flex-start;
                        border: 1px solid rgba(0,0,0,0.14);;
                        a {
                            
                            img {
                              max-width: 4rem;  
                            }
                        }
                    }
                    
                }
            }
        }
    }    

/* Slider */
    .slider_apa {
        width: map-get($map: $anchos, $key: ancho_full);
        height: $alto_section;
        position: relative;

        .slide-div {
            @extend .background-style;            
            height: 100%;            
            background-color: $color_fondo-widget;

            .tela {
                background-color: $color_fondo-tela;
                height: $alto_section;
                color: $color_texto_cards;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @include margin-pad("cero",0 2rem);
            }
        }
    }    

    @each $i,$img in $slides {
        #slide#{$i}{
            background-image:#{$img};
        }
    }

/* Tienda */
    .productos .row {
        @extend .bs_gutter-x-0;
        justify-content: center;
    }

    .producto{
        opacity: 0.8;
        transition: all 0.5s ease 0s;
        border:0;
        max-width: map-get($map: $anchos, $key: max-item);
        &:hover {
            opacity: 1;
            transform: scale(1.1);

            & > .producto_info {
                display: block;
                opacity: 1;
                height: auto;
                transition: all 1s ease 0s;
            }
        }

        img {
            max-width: map-get($map: $anchos, $key: max-item);
        }

        .producto_info{
            padding-bottom: 1rem;
            padding-top: 0;
            opacity: 0;
            height: 0;

            .card-title {
                margin-bottom: 0;
            }

            .producto_info_precioCompra {
                align-content: center;
                align-items: center;
                .producto_info_precioCompra_precio {
                    text-align: center;
                }
            }
        }

        .producto_comprar {
            position: absolute;
            top: 0;
            left: 0;
            width: map-get($map: $anchos, $key: ancho_full);    
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;

            .producto_comprar_btn {
                background: $color_fondo-boton;
                @include margin-pad("cero",0.5rem 1rem);
                margin-top: 0.5rem;
                color:$color_texto-a;
                text-decoration: none;
            }

            &:hover{
                opacity: 1;
                text-decoration: none;
            }
        
        }
    }

    .cuadrado {
        display: inline-block;
        width: 10px; 
        height: 10px; 
    }

    .rangoPrecios{
        display: grid;
        .rangoPrecios-center {
            display: inline-flex;    
        }
    }

    #productoTienda {
        display: flex;
        #productoNombre {
            width: 100%;
        }
        #productoImagen{        
            max-width: 300px;
        }
        #productoInfo{
            max-width: 600px;
            .productoSelect{
                margin-bottom: 1rem;
                h5 {
                    margin-bottom: 0;
                }
            }
            #productoVariaciones{
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                #productoVariacionesInfo {
                    font-size: 1rem;
                    font-variant: all-small-caps;
                }
                #productoVariacionesPrice {
                    font-size: 1.5rem;
                    font-weight: bolder;
                }
                #productoVariacionesStock {
                    color:green;
                }                
            }
            #productoForm{
                display: flex;
                gap: 10px;
                flex-direction: row;
                input[type=number]{
                    padding: 0 0.5rem;
                    width: 4rem;
                }       
            }
        }
    }
    
    #carroDiv {
        position: fixed;
        background: $color_fondo;
        height: 100vh;
        width: 300px;
        padding: 1rem;
        top: 0;
        left: -300px;        
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 999;
        box-shadow: 8px 6px 11px -2px $color_fondo-shadow_dark;
        display: flex;
        flex-direction: column;
        transition: all 0.5s;        
        h3 {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            #close{
                color: $color_texto-hover_active;
                display: none;
                &:hover {
                    color:$color_fondo-hover;
                }
            }
        }
        &:hover > h3 #close {
            display: block;
        }

        #carrito{
            display: flex;
            flex-direction: column;
            ul {
                list-style-type: none;
                display: flex;
                flex-direction: column;
                padding: 0;
                li {
                    display: inline-flex;
                    justify-content: flex-start;
                    border-bottom: 1px solid $color_fondo-shadow_light;
                    a {
                        
                        img {
                          max-width: 4rem;  
                        }
                    }
                    #carritoInfo{
                        display: flex;
                        flex-direction: column;
                        div {
                            display: flex;
                            flex-direction: row;                            
                            div#carritoInfo-start {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                justify-content: flex-start;
                                #carritoInfo-start-cantidad{
                                    display: flex;
                                    flex-direction: row;
                                    gap: 5px;
                                    align-items: center;
                                    input {
                                        max-width: 4rem;
                                    }
                                }
                            }
                            div#carritoInfo-del {
                                align-items:center;
                                justify-content: center;
                                padding: 0 1rem;
                                a:hover {
                                    color:$color_fondo-hover
                                }
                            }
                        }
                    }
                    &#carritoInfoTotal {
                        text-align: right;
                        justify-content: flex-end;
                        padding: 1rem;
                        font-weight: bold;
                    }
                }
                
            }
        }
    }

/* Instagram */
    .background-style {
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        width: map-get($map: $anchos, $key: ancho_full);
    }

    .instagram {
        @extend .background-style;
        min-height: $alto_section;
        background-image: url(./../img/image1.jpg);


        .tela {
            background-color:$color_fondo-tela_dark;
            min-height: $alto_section;
            color: $color_texto_cards;
            @include margin-pad("cero",2rem);

            .row {
                justify-content: center;

                .instagram_info {
                    max-width: map-get($map: $anchos, $key: max-item);
                    height: auto;
                    @include margin-pad(0.5rem,0.5rem);
                    background: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .instagram_img {
                    max-width: map-get($map: $anchos, $key: max-item);
                    @include margin-pad(0.5rem,0.5rem);
                    background: black;
                    justify-content: center;

                    img{
                        max-width: map-get($map: $anchos, $key: max-item);
                        height: auto;
                    }
                }
            }
        }
    }

/* Footer */
    footer{
        clear: both;
        background-color: $color_fondo-widget;
        color: $color_texto_cards;
        min-height: 200px;
        grid-area: footer;

        .container .row {
            align-items: center;

            .footer_logo {
                grid-area: footer_logo;
                @include margin-pad("cero",2rem 0);
                img {
                    @include margin-pad("cero",1rem);
                    max-width: map-get($map: $anchos, $key: media);
                }
            }
    
            .footer_rrss {
                @include margin-pad("cero",2rem 0);
                span {
                    @include margin-pad("cero",0 0.5rem);
                }
    
                .footer_rrss_icon a {
                    font-size: 1.75rem;
                    color: $color_texto-a;
    
                    &:visited {
                        color:$color_texto-a_visited;
                    }
    
                    &:hover {
                        color: #597D6F;
                    }
                }
    
                
            }
    
            .footer_contacto {
                @include margin-pad("cero",2rem 0);              
    
                .row {
                    padding-bottom: 1rem;
                }
    
                h3 {
                    margin-bottom: 0;
                }
    
                a {
                    color:$color_texto-a;
                    text-decoration: none;
    
                    &:hover{
                        color:lightgray;
                    }
                }
            }
        }       

        .atribucion {
            background-color: goldenrod;
            color:black;
            @include margin-pad("cero",0.5rem 0);
        }

    }

/*Contact Form */    
    .info_contacto {
        @include margin-pad("cero",0.5rem 0);
        iframe {
            border-radius: 5px;
        }
    }

/* Tallas */
    .tabla_cat {
        padding-bottom: 2rem;
        display: grid;
        justify-content: center;
        grid-template-columns: map-get($map: $anchos, $key: 90);

        .tabla_overflow {
            overflow: auto;
            max-height: $alto_section;    

            .tabla_tallas {
                border-color: black;
                border-style: groove;
                margin: 0;

                th {
                    background-color: $color_fondo-cards;
                    color: $color_texto_cards;
                }
            }
        }

        .undertext_table {
            font-size: 0.85rem;
        }
    
    }
    
/* Encuentranos */
    .empresas {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-bottom: 2rem;

        .empresa {
            @include margin-pad("cero",1rem 0);
            background: $color_fondo-cards;
            align-items: center;
            color: $color_texto_cards;
            border-radius: 10px;
            margin-bottom: 1rem;
            max-width: map-get($map: $anchos, $key: media);

            .empresa_mapa {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: map-get($map: $anchos, $key: 90);
    
                .empresa_mapa iframe {
                    border-radius: 5px;
                }
            }
    
            .empresa_info {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width: map-get($map: $anchos, $key: 90);
                font-size: 0.90rem;
    
                .empresa_direccion {
                    padding-bottom: 0.3rem;
                }
    
                .empresa_rrss {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    font-size: 1.3rem;
    
                    span {
                        @include margin-pad("cero",0 0.5rem);
                    }
                }
            }

            a {
                color: $color_texto-a;
                &:visited {
                    color: $color_texto-a_visited;
                }
                &:hover {
                    color: $color_texto-hover_active;
                }
            }
        }        
    }

@media screen and (max-width:990px) {

    .menu-fixed {
        position: fixed;
        top: 0.5rem;
        right: $right_96;
        z-index: 10;
        width: map-get($map: $anchos, $key: 96);
        
    }

    .principal-nav {
        & > .container-fluid {
            justify-content: flex-end;
        }
        .navbar-toggler {
            @include margin-pad("cero",0.5rem);
            background: $color_fondo;
        }
        .navbar-nav {
            background: $color_fondo;
            height:90vh;
            border: 1px $color_fondo-tela_light groove;
        }
    
    }
}

@media screen and (max-width:768px) {
    
    .flex_options {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    h2, h3 {
        text-align: center;
    } 

    header {

        .main-header {
            @include margin-pad("cero",1rem 1rem 0);
            display: grid;
            grid-template-areas: 
            "logo"
            "descripcion";
        }   

    } 

    footer {
        .container .row {
            flex-direction: column;

            .footer_logo {
                @extend .flex_options;
                img {
                    @extend .flex_options;                    
                }
            }

            .footer_rrss{
                @extend .flex_options;
                flex-direction: column;
            }

            .footer_contacto {
                @extend .flex_options;
                flex-direction: column;

                span {
                    margin-bottom: 1rem;
                }
            }

        }

        .atribucion {
            --bs-gutter-x: 0;
            justify-content: center;
            text-align: center;
        }
    }   

    .tienda {
        position: relative;
        max-width: map-get($map: $anchos, $key: 90);

    }

    aside {
        margin-top: 2rem!important;
        
        &#filtroProductos {
            position: absolute;
            top: 0;
            left: 0;    
            width: map-get($map: $anchos, $key: 96);
            max-width: map-get($map: $anchos, $key: media);
            
            
            .navbar-toggler {
                display: block;
            }
            .aside-flex {
                background-color: $color_fondo;  
                z-index: 9;
                overflow: hidden; 
                box-shadow: $color_fondo-tela 5px 5px 10px 1px;
                @include margin-pad("cero",1rem);
                &.collapse {
                    display: none;
                    height: 0px;      
                }   

                &.collapse.show {
                    display: block;  
                    height: map-get($map: $anchos, $key: media);
                    
                    &:hover {
                        overflow-y: scroll;
                    }             
                }

            }
            
            
        }
    }

    .paginas article {
        width: map-get($map: $anchos, $key: ancho_full);
        margin: 0 auto;
    }       
}

@media screen and (max-width:700px) {
    header .menu_tienda{
        top:32%;
    }
}

@media screen and (max-width:420px) {
    header .logo {
        flex-direction: column;
    }
    .paginas article {
        max-width: map-get($map: $anchos, $key: media);
    }  
       
}