@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Body */
    body{
        margin: 0;
        font-family: 'Fredoka', sans-serif;
        min-width: 300px;
        overflow-x: hidden;
    }

    main {
        grid-area: main;
    }

    main.row {
        --bs-gutter-x: 0;
    }

    section {
        max-width: 100%;
    } 

    img {
        width: 100%;
    }

    
    .homeGrid {
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        padding: 0;
    }

    .paginas {
        padding: 2rem;
    }

    .paginas>.row, footer>.row {
        --bs-gutter-x: 0;
    }

    .texto_pagina {
        padding-bottom: 2rem;
    }

    .padding-right {
        padding-right: 1.5rem;
    }

    .boton {
        background: #B06B88;
        padding: 1rem;
        margin-top: 0.5rem;
        color:white;
        text-decoration: none;
    }

    .shadow-bottom {
        box-shadow: 0px 15px 10px -15px #6BA4B0;    
    }

    .aside-flex {
        display: flex;
        flex-direction: column;
    }

/* Header */
    header{
        text-align: center;
    }

    header .row {
        --bs-gutter-x: 0;
    }

    header .logo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-area: logo;
    }

    header .logo-img {
        max-width: 150px;
    }

    header .logo-img img {
        border: 0;
    }

    header .logo .logo-header h1{
        margin-bottom: 0;
    }

    header .descripcion {
        display: block;
        margin-bottom:0.5rem;
    }

/* Nav */
    .principal-nav{
        grid-area: principal-nav;
        padding: 0;
    }

    .principal-nav .navbar>.container-fluid {
        padding:0;
    }

    .principal-nav .navbar-nav .nav-link {
        color: black;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .principal-nav .navbar-nav li a:link {
        color: black;
    }

    .principal-nav .navbar-nav li a:active, .principal-nav .navbar-nav li a:focus, .principal-nav .navbar-nav .nav-link.active {
        background-color: #6BA4B0;
        color:white;
    }

    .principal-nav .navbar-nav .nav-link:hover {
        background-color: #5A7E70;
        color:white;
    }

    button.collapsed .menu_cel:before {
        content: "\f0c9" !important;
    }

    button .menu_cel:before {
        content: "\f00d";
    }

    

    


/* Slider */
    .slider_apa {
        width: 100%;
        height: 500px;
        position: relative;
    }


    .slide-div {
        width: 100%;
        height: 500px;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
        background-color: #6BA4B0;
    }

    .slider_apa .tela {
        background-color: rgba(0,0,0,0.5);
        height: 500px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
    }

    .slider_apa .tela .tela-margen {
        padding:1rem;
    } 
    
    .slider_apa .tela .carousel-caption {
        position: unset;
    }

    .slider_apa .tela .carousel-caption h2 {
        padding-bottom: 2rem;
    }

    #slide1{        
        background-image: url(./../img/image1.jpg);
    }

    #slide2{        
        background-image: url(./../img/apapacho-46.png);
    }

    #slide3{        
        background-image: url(./../img/apapacho-24.JPG);
    }
 
/* Instagram */
    #instagram{
        width: 100%;
        min-height: 500px;
        background-image: url(./../img/image1.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
    }

    #instagram .tela {
        background-color: rgba(0,0,0,0.7);
        min-height: 500px;
        color: white;
        padding: 2rem;
    }

    #instagram .tela .tela-margen {
        padding:1rem;
        display: flex;
    }

    #instagram .tela .instagram_img img{
        max-width: 250px;
        height: auto;
    }

    #instagram .tela #instagram_info {
        max-width: 250px;
        height: auto;
        padding: 0.5rem;        
        margin: 0.5rem;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #instagram .tela .instagram_img {
        max-width: 250px;
        padding: 0.5rem;
        background: black;
        margin: 0.5rem;
        justify-content: center;
    }

    #instagram .tela .row {
        justify-content: center;
    }


/* Footer */
    footer{
        clear: both;
        background-color: #6BA4B0;
        color: white;
        min-height: 200px;
        grid-area: footer;

    }

    footer .atribucion {
        background-color: goldenrod;
        color:black;
        padding: 0.5rem 0;
    }

    footer .footer_logo {
        grid-area: footer_logo;
    }

    footer .footer_logo img {
        max-width: 300px;
    }

    .footer_logo img {
        padding: 1rem;
    }

    footer .footer_logo, footer .footer_rrss, footer .footer_contacto {
        padding: 2rem 0;
    }
    
    footer .footer_rrss span {
        padding: 0 0.5rem;
    }

    footer .footer_rrss .footer_rrss_icon a {
        font-size: 1.75rem;
        color: white;
    }

    footer .footer_rrss .footer_rrss_icon a:visited {
        color:rgb(235, 235, 235);
    }
    
    footer .footer_rrss .footer_rrss_icon a:hover {
        color: #597D6F;
    }

    footer .footer_contacto .row {
        padding-bottom: 1rem;
    }

    footer .footer_contacto .row h3{
        margin-bottom: 0;
    }

    footer .footer_contacto a {
        color:white;
        text-decoration: none;
    }

    footer .footer_contacto a:hover{
        color:lightgray;
    }

    footer .footer-section-1 .footer_contacto h3 {
        margin-bottom: 0;
    }

    footer .container .row {
        align-items: center;
    }


/*Contact Form */    
    .info_contacto {
        padding: 0.5rem 0;
    }

    .info_contacto iframe {
        border-radius: 5px;
    }

/* Tallas */
    .tabla_cat {
        padding-bottom: 2rem;
        display: grid;
        justify-content: center;
        grid-template-columns: 90%;
    }

    .tabla_overflow {
        overflow: auto;
        max-height: 500px;    
    }

    .tabla_tallas {
        border-color: black;
        border-style: groove;
        margin: 0;
    }

    .tabla_tallas th {
        background-color: #B06B88;
        color: white;
    }

    .undertext_table {
        font-size: 0.85rem;
    }

/* Encuentranos */
    .empresas {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        padding-bottom: 2rem;
    }

    .empresa {
        padding: 1rem 0;
        background: #B06B88;
        align-items: center;
        color: white;
        border-radius: 10px;
        margin-bottom: 1rem;
        max-width: 300px;
    }

    .empresa_mapa, .empresa_info {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 90%;
    }

    .empresa_mapa iframe {
        border-radius: 5px;
    }

    .empresa_info{
        font-size: 0.90rem;
    }

    .empresa_direccion {
        padding-bottom: 0.3rem;
    }

    .empresa_rrss {
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-size: 1.3rem;
    }

    .empresa_rrss span {
        padding: 0 0.5rem;
    }

    .empresa a {
        color: white;
    }

    .empresa a:visited {
        color: rgb(235, 235, 235);
    }

    .empresa a:hover {
        color: #6BA4B0;
    }

/* Tienda */
    #productos_destacados {
        padding: 2rem;
    }

    .productos .row {
        --bs-gutter-x: 0;
        justify-content: center;
    }

    .producto{
        opacity: 0.8;
        transition: all 0.5s ease 0s;
        border:0;
    }

    .producto:hover {
        opacity: 1;
        transform: scale(1.2);
    }

    .producto, .producto img {
        max-width: 250px;
    }

    .producto .producto_info{
        padding-bottom: 1rem;
        padding-top: 0;
        opacity: 0;
        height: 0;
    }

    .producto .producto_info .card-title {
        margin-bottom: 0;
    }

    .producto:hover > .producto_info {
        display: block;
        opacity: 1;
        height: auto;
        transition: all 1s ease 0s;
    }

    .producto .producto_info h3{
        margin: 0;
    }

    .producto .producto_info .producto_info_precioCompra {
        align-content: center;
        align-items: center;
    }

    .producto .producto_comprar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;    
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;

    }

    .producto .producto_comprar .producto_comprar_btn {
        background: #B06B88;
        padding: 0.5rem 1rem;
        margin-top: 0.5rem;
        color:white;
        text-decoration: none;
    }

    .producto .producto_comprar:hover{
        opacity: 1;
        text-decoration: none;
    }

    .aside-flex li {
    list-style: none;
    }

    .cuadrado {
        display: inline-block;
        width: 10px; 
        height: 10px; 
    }

    .rangoPrecios{
        display: grid;
    }

    .rangoPrecios-center {
        display: inline-flex;
        
    }

@media screen and (max-width:990px) {

    .menu-fixed {
        position: fixed;
        top: 0.5rem;
        right: 5%;
        z-index: 10;
        width: 95%;
        
    }

    .navbar>.container-fluid {
        justify-content: flex-end;
    }

    .principal-nav .navbar-toggler {
        padding:0.5rem;
        background: white;
    }

    .principal-nav .navbar-nav {
        background: white;
        height:90vh;
        border: 1px rgba(0,0,0,0.3) groove;
    }
}

@media screen and (max-width:768px) {

    footer .container .row {
        flex-direction: column;
    }

    footer .atribucion {
        --bs-gutter-x: 0;
        justify-content: center;
        text-align: center;
    }

    header .main-header {
        padding: 1rem 1rem 0;
        display: grid;
        grid-template-areas: 
        "logo"
        "descripcion";
    }   

    footer .footer_logo, footer .footer_logo img, footer .footer_rrss, footer .footer_contacto {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    footer .footer_contacto{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    footer .footer_contacto span {
        margin-bottom: 1rem;
    }

    footer .footer_rrss {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #filtroProductos {
        padding: 0 2rem;
    }

    aside {
        margin-top: 2rem!important;
    }

    .paginas .padding-right{
        padding-right: 0;
    }

    .paginas article {
        width: 90%;
        margin: 0 auto;
    }       
}

@media screen and (max-width:420px) {
    header .logo {
        flex-direction: column;
    }

    h2, h3 {
        text-align: center;
    }    
}